extends layout

block content
  h1= title
  p Welcome to #{title}
  <input name="report" type="button" value="Get Latest Report" onclick="$.get('/consume', function( data ) {jQuery('.displayResults').html( data );});"/>
  <div id="displayResults"></div>